body{
  background-color: rgb(251,251,251);
}
.App {
  text-align: center;
}
.create{
  border: 2px solid transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgb(226, 226, 226), -5px -5px 20px rgb(226, 226, 226);
  padding: 10px;
  width: 50%;
  background-color: white;
  margin: auto;
  margin-top: 50px;

}
header{
  font-size: xx-large;
  margin: 25px 0px;
  color:rgb(136, 135, 135);
}
.formP{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.create:hover{
  transform: scale(1.03);
}

.form-fields{
  width: 75%;
  color:rgb(136, 135, 135);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding:15px;
  background-color: rgb(249, 249, 249);
  border-bottom: 2px solid #ccc;
}

.form-fields>input{
  border: none;
  width: 75%;
  height: 30px;
}
.btnCreate:focus, .btnCreate:hover{
  border: 3px solid #ccc;
  background: transparent;
}
.btnCreate{
  border: none;
  max-width: 50%;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  color:rgb(136, 135, 135);
  font-size: large;
  background-color: rgb(249, 249, 249);

}
.card:hover{
  transform: scale(1.05);
}

.edit{
  text-decoration: none;
  color:hwb(27 20% 5%);
}
.edit:hover{
  color:white
}