#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
  /* background-image: linear-gradient(to bottom right, #3639d9, #cf1980); */
  /* color:#fff; */
  border:1px solid transparent;

  background-color: #020202;
  /* box-shadow: 20px 20px 17px 0px rgba(0,0,0,0.75); */
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
#root:hover{
  transform: scale(1.2);
  opacity: .9;
  box-shadow: 0 0 20px 5px #00d7c3 inset, 0 0 20px 5px #00d7c3;

}
body{
  background-color: black;
  font-family: 'Roboto', sans-serif;

  color: #00d7c3;
}
.card{
  margin-left: 0px;
}
h1{
  border-bottom: 15px double #00d7c3;
  text-transform: uppercase;
  transition: all 5s ease;
  text-align: center;

}
h2{
  initial-letter: 2;
  letter-spacing: 0.2em;
  line-height: 1.5;
  font-size: 1.25em;
  animation: translate-x 3s linear infinite;

}

@keyframes translate-x {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(30%);
  }
}
h1:hover{
  font-size: 3.5 erm;
  color: white;
}
ul{
  list-style: none;
}
li{
  text-align: left;

  animation: move 4s linear infinite;

}
@keyframes move{
  0%{ margin-left: -20px;}

  100%{margin-left: 150px;}
}
@keyframes moveBack{
  0%{ margin-left: 150px;}

  100%{margin-left: -20px;}
}
